#
#  .gitignore for swmm-python repo
#

.*
!.gitignore

*.py[ocd]

*.dll
*.lib
*.exp
*.so
*.h
buildlib/

build/
dist/
.pytest_cache/
*.egg-info/

output.py
output_wrap.c

toolkit.py
toolkit_wrap.c

swmm_python/toolkit/tests/data/test.*
